*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card
{
    position: relative;
    width: 350px;
    height: 85px;
    background: #398cc0;
    border-radius: 20px;
    filter: drop-shadow(-20px 20px 40px #398cc055);
    transition: 0.5s ease-in-out;
}
.card.active
{
    height: 420px;
}
.toggle
{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 60px;
    background: #398cc0;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    cursor: pointer;
}
.toggle::before
{
    content: '';
    position: absolute;
    left: -34px;
    width: 35px;
    height: 35px;
    background: transparent;
    border-top-right-radius: 35px;
    box-shadow: 11px -10px 0 10px #398cc0;
}
.toggle::after
{
    content: '';
    position: absolute;
    right: -34px;
    width: 35px;
    height: 35px;
    background: transparent;
    border-top-left-radius: 35px;
    box-shadow: -11px -10px 0 10px #398cc0;
}
.toggle span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) rotate(405deg);
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: 0.5s ease-in-out;
}
.card.active .toggle span
{
    transform: translate(-50%, -70%) rotate(225deg);
}

.contentBox
{
    position: absolute;
    inset: 0;
    overflow: hidden;
}
.contentBox .content
{
    position: relative;
    padding: 20px;
    text-align: center;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contentBox .content h2
{
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    margin-top: 17.5px;
}
.imgBox
{
    position: relative;
    width: 250px;
    height: 250px;
    background: #fff;
    margin-top: 30px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
}
.imgBox model-viewer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn
{
    position: relative;
    margin-top: 20px;
    padding: 10px 35px;
    border-radius: 25px;
    border: 2px solid #d04f97;
    flex-wrap: wrap;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #333;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0000);
    transition: 0.5s;
    transition-delay: 0s;
}
.btn:hover
{
    transition-delay: 1.5s;
    color:#fff;
    font-weight: bold;
    box-shadow: 0 0 10px #d04f97,
                0 0 20px #d04f97,
                0 0 40px #d04f97,
                0 0 80px #d04f97,
                0 0 160px #d04f97;
}
.btn span
{
    position: relative;
    z-index: 100;
}
.btn:nth-child(2)
{
    filter: hue-rotate(80deg);
}
.btn::before
{
    content: '';
    position: absolute;
    left: -20px;
    top: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #d04f97;
    box-shadow: 5px -8px 0 #d04f97,
                5px 8px 0 #d04f97;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}
.btn:hover::before
{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: -5px 0 0 #d04f97,
                -5px 0 0 #d04f97;
                transition-delay: 0s, 0.5s, 1s, 1s;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.btn::after
{
    content: '';
    position: absolute;
    right: -19px;
    top: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #d04f97;
    box-shadow: -5px -8px 0 #d04f97,
                -5px 8px 0 #d04f97;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}
.btn:hover::after
{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: 5px 0 0 #d04f97,
                5px 0 0 #d04f97;
                transition-delay: 0s, 0.5s, 1s, 1s;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}